@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
/* *{
  scroll-behavior: smooth;
} */
h1,
.heading {
  font-family: "Josefin Sans", sans-serif;
}
body {
  color: white;
  background-color: #0e1111;
  font-family: "Poppins", sans-serif;
}
